<button mat-raised-button color="primary" class="add-product-button" (click)="openModal()">Ajouter un produit</button>

<div class="product-list" fxLayout="row" fxLayoutWrap>
  <mat-card *ngFor="let product of products" class="product-card" fxFlex="33">
    <div class="card-actions">
      <button mat-icon-button (click)="openModal(product)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteProduct(product.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    
    <img mat-card-image [src]="product.image" alt="{{ product.name }}">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    <mat-card-content>
      <p>{{ product.description }}</p>
    </mat-card-content>
    
    <button mat-raised-button color="accent" class="add-to-cart-button">Ajouter au panier</button>
  </mat-card>
</div>

<div *ngIf="loading" class="loading-spinner-container">
  <mat-spinner></mat-spinner>
</div>


<div class="pagination" fxLayoutAlign="center" style="margin-top: 20px;">
  <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
    <button mat-button (click)="changePage(i + 1)">{{ i + 1 }}</button>
  </ng-container>

  <label for="itemsPerPage">Items par Page:</label>
  <input type="number" id="itemsPerPage" [(ngModel)]="itemsPerPage" min="1" (ngModelChange)="updateItemsPerPage()" class="items-per-page-input" />
</div>
