<div class="contact-container">
  <h2>Contactez-nous</h2>
  <form [formGroup]="contactForm" (ngSubmit)="sendMessage()" class="contact-form">

    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="votre.email@example.com" required />
        <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
          L'email est requis.
        </mat-error>
        <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
          Veuillez entrer une adresse email valide.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" placeholder="Votre message..." required></textarea>
        <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
          Le message est requis.
        </mat-error>
        <mat-error *ngIf="contactForm.get('message')?.hasError('maxlength')">
          Le message ne doit pas dépasser 300 caractères.
        </mat-error>
      </mat-form-field>
    </div>


    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">
        Envoyer
      </button>
    </div>
  </form>
</div>